input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
}

.container {
  background-color: #f1f1f1;
  padding: 20px;
}

#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2717";
}

.main {
  background-image: linear-gradient(135deg, #000000d9 10%, #000000b8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #000000;
}

.box-form {
  display: flex;
  width: 80%;
  align-self: center;
  /* height: 100vh; */
  background: #e9e7e7;
  border-radius: 10px;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #00000085;
}

.left {
  flex: 2.5;
  position: sticky;
  margin: 0px;

  top: 0;
  height: 100vh;
  background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right {
  flex: 2;
  padding: 20px;
  overflow-x: auto;
  height: 100%;
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    height: fit-content;
    align-content: center;
    align-items: center;
  }
  .overlay {
    height: fit-content !important;
  }
  .input-group {
    width: 50%;
    text-align: left;
  }
}
.box-form div {
  height: auto;
}

.box-form .left {
  color: #ffffff;
  background-size: cover;
  height: 100%;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 10px;
  width: 100%;
  height: 100vh;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-form .left .overlay h1 {
  font-size: 5vmax;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}

.box-form .left .overlay span a {
  background: #3b5998;
  color: #ffffff;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}

.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}

.box-form .right {
  padding: 0px 120px 120px 5%;
  overflow: hidden;
  width: -webkit-fill-available;
}

@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
    padding: 0;
  }
}

.box-form .right h5 {
  font-size: 6vmax;
  margin-top: 5%;
}

.box-form .right p {
  font-size: 14px;
  color: #b0b3b9;
}

.box-form .right .inputs {
  overflow: hidden;
  width: min-content;
}

.box-form .right input {
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}

.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}

.box-form .right button {
  color: #fff;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  background-image: linear-gradient(135deg, #f570df 10%, #2d28c6 100%);
}

.box-form .right button:hover {
  background-image: linear-gradient(135deg, #f570df 10%, #2d28c6 100%);
  box-shadow: 0px 4px 20px 0px #000000a6;
  cursor: pointer;
}

.google-login-button {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 8px 10px;
  width: 95%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #000000c1;
  font-weight: bold;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #0f0f0f;
  font-weight: bold;
}

.google-login-button {
  border: 2px solid #747474;
}

.google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}

.link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  transition: transform 0.3s ease;
  vertical-align: middle;
}

.link--arrowed .arrow-icon--circle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}

.link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}
