.banner {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  height: 60ch;
  background-repeat: no-repeat;
  min-height: 40ch;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 400px;
  z-index: -100;
}

.banner h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  color: white;
}
.banner p {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.banner_button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  width: 50%;
}

.banner_container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.banner_img {
  width: 90%;
  z-index: -1;
  position: absolute;
  left: 55%;
  top: -10%;
  overflow: hidden;
}
